<div style="background-color: #333; width: 100%; padding: 6px; text-align: center; font-family: Roboto; color: white">
  <span>Александр&nbsp;Тарайковский</span>
  <span style="margin: 0px 6px">•</span>
  <span>Александр&nbsp;Вихор</span>
  <span style="margin: 0px 6px">•</span>
  <span>Геннадий&nbsp;Шутов</span>
  <span style="margin: 0px 6px">•</span>
  <span>Станислав&nbsp;Чур</span>
  <span style="margin: 0px 6px">•</span>
  <span>Александр&nbsp;Будницкий</span>
  <span style="margin: 0px 6px">•</span>
  <span>Константин&nbsp;Шишмаков</span>
  <span style="margin: 0px 6px">•</span>
  <span>Никита&nbsp;Кривцов</span>
  <span style="margin: 0px 6px">•</span>
  <span>Артём&nbsp;Поруков</span>
  <span style="margin: 0px 6px">•</span>
  <span>Денис&nbsp;Кузнецов</span>
  <span style="margin: 0px 6px">•</span>
  <span>Роман&nbsp;Бондаренко</span>
</div>
