h1.participant-name {
  font-size: 64px;
  letter-spacing: -1px;
}

.current-school {
  font-size: 32px;
  letter-spacing: -1px;
}

.best-result {
  font-weight: 200;
  font-size: 32px;
  letter-spacing: -0.04em;
};

.section-break {
  color: lightgray;
  margin: 20px 0px;
}
