---
layout: default
---

<div class="home">

  <header class="post-header">
    <h1 class="post-title">Новости</h1>
  </header>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">подписаться <a href="{{ "/feed.xml" | relative_url }}">на RSS-фид</a></p>

</div>
