---
layout: default
---

{% assign name = page.participant.name.ru %}

<h1 class="entity-name">
  {{ name.first }} {{ name.last }}
</h1>

<h2 class="entity-subtitle">
  {% assign current_school = page.schools[page.school] %}
  <a href='{{ "/schools/" | append: current_school.id | relative_url }}'
     class="entity-link">
    {% include school_name.html school=current_school %}
  </a>
</h1>

<hr class="section-break" />

{% assign best_year_regionals = page.best_result_regionals[0] %}
{% assign best_result_regionals = page.best_result_regionals[1] %}

<p class="best-result">
Лучший результат в области:
{% include contest_result.html result=best_result_regionals long=true %}
({{ best_year_regionals }})
</p>

<hr class="section-break" />

<div class="scrollable-x">
  <table class="results-table">
    <tr>
      <th>Год</th>
      <th>Школа</th>
      <th>Класс</th>
      <th>Областной этап</th>
    </tr>

    {% for kv in page.participant.results.regionals %}
      {% assign year = kv[0] %}
      {% assign entry = kv[1] %}
      {% assign school = page.schools[entry.school] %}
      <tr>
        <td>{{ year }}</td>
        <td>
          <a href='{{ "/schools/" | append: school.id | relative_url }}'
             class="entity-link">
            {{ school.name.ru }}
          </a>
        </td>
        <td>
          {% include grade_text.html result=entry %}
        </td>
        <td>
          <a href='{{ "/results/" | append: entry.region | append: "/" | append: year | relative_url }}'
             class="entity-link">
            {% include contest_result.html result=entry long=true %}
          </a>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
