---
layout: default
mdl_enabled: true
---

{% assign school = page.school %}

<h1 class="entity-name">
  {{ school.name.ru }}
</h1>

<h2 class="entity-subtitle">
  {% include region_name.html region=school.region %}
</h1>

<hr class="section-break" />

<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar scrollable-x">
    {% for kv in school.results %}
      {% assign year = kv[0] %}
      <a href='#results-{{ year }}'
         class='mdl-tabs__tab {% if forloop.first %} is-active {% endif %}'>
        {{ year }}
      </a>
    {% endfor %}
  </div>

  {% for kv in school.results %}
    {% assign year = kv[0] %}
    {% assign students = kv[1] %}

    <div class='mdl-tabs__panel {% if forloop.first %} is-active {% endif %}'
         id='results-{{ year }}'>
      <div class="scrollable-x">
        <table class="results-table">
          <tr>
            <th>Участник</th>
            <th>Класс</th>
            <th>Областной этап</th>
            <th>Республиканский этап</th>
          </tr>

          {% for kv in students %}
            {% assign participant_id = kv[0] %}
            {% assign participant = page.participants[participant_id] %}
            {% assign reg_result = kv[1].regional %}
            {% assign nat_result = kv[1].national %}

            <tr>
              <td>
                <a href='{{ "/participants/" | append: participant.id | relative_url }}'
                   class="entity-link">
                  {{ participant.name.ru.first }} {{ participant.name.ru.last }}
                </a>
              </td>
              <td>{% include grade_text.html result=reg_result %}</td>
              <td>
                {% if reg_result %}
                  {% include contest_result.html result=reg_result long=true %}
                {% endif %}
              </td>
              <td>
                {% if nat_result %}
                  {% include contest_result.html result=nat_result long=true %}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  {% endfor %}
</div>
