pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

ul.nav.nav-pills {
  margin: 3px;
}

/* Syntax highlighting: prism.js */
pre[class*="language-"] {
    background-color: #f7f7f7;
}

.token.punctuation {
    color: #696969;
}

.token.operator {
    background-color: inherit;
}

@media (min-width: 1200px) {
    .container {
        max-width: 900px;
    }
}

p {
    font-size: 1.1em;
}
