@media (min-width: 1200px) {
    .container {
        max-width: 900px;
    }
}

p {
    font-size: 1.1em;
}

pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

/* For language choice menus. */
ul.nav.nav-pills {
  margin: 3px;
}

/* Syntax highlighting: prism.js */
pre[class*="language-"] {
    background-color: #f7f7f7;
}

.token.punctuation {
    color: #696969;
}

.token.operator {
    background-color: inherit;
}

/* For YouTube embeds */
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
